* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar section */
#navbar {
    color: #b3ff99;
    position: fixed;
    width:100%;
}

#logo {
    float: left;
    width: 55px;
    height: 55px;
    padding: 0%;
}

#logo-link {
    width: 55px;
    height: 55px;
}

#image_logo {
    width: 55px;
    height: 55px;    
    margin: -24px;
    clear: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3ff99;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 5px;
}

li a:hover {
    background-color: yellowgreen;
}

#header-menu-item {
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;
    list-style: none;
    text-decoration: none;
}

/* background image section */
#background_image {
    display: block;
    width: 100%;
    height: auto;
}

/* introduction section */
#intro-section {
    background-color: rgb(40, 218, 96);
    height: 550px;
}

#video {
    display: block;
    width: 800px; 
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; 
}

/* location section */
#map-section {
    display: block;
    height: 780px;
    background-color:aquamarine;
    text-align: center;
}

#map_stat {
    display: block;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
}

/* parameter section */
#prmeter-section{
    
    background-image: linear-gradient(aquamarine, #36cf57);
}

#table_1 {
    padding-top: 60px;
    border: 1;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#num {
    width: 50%;
    text-align: center;
}

#table_2 {
    border: 1;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

/* eplainaiton section */
#explain-section {
    float: none;
    height: 800px;
    background-color: #36cf57;
}

#explain_image {
    height: 800px;
    width: auto;
    float: left;
}

#explain_para {
    text-align: center;
    padding-top:60px;
}

/* contact section */
#contact-section { 
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
    clear: both;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

p1 {
    padding-top: 5px;
    font-size: 9px;
}
