<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWAB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='image/background.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='image/eye.jpg') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='image/logo.jpg') }}">   
</head>

<body>
    <div id="navbar">
        <ul>
            <li id="logo"><a href="#background_image" id="logo-link"><img id="image_logo" src="{{ url_for('static', filename='image/logo.jpg') }}" alt="swab_logo"></a></li>
            <li id="header-menu-item"><a href="#explain-section">Giải thích</a></li>
            <li id="header-menu-item"><a href="#prmeter-section">Hiển thị</a></li>
            <li id="header-menu-item"><a href="#map-section">Liên lạc</a></li>
            <li id="header-menu-item"><a href="#intro-section">Giới thiệu</a></li>
        </ul>
    </div>
    
    <div><img id="background_image" src="{{ url_for('static', filename='image/background.jpg') }}" alt=""></div>
    
    <div id="intro-section">
        <iframe id="video" src="https://www.youtube.com/embed/ofGqU4G7M_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div id="map-section">
        <iframe  id="map_stat" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7450.137263729862!2d105.79741790247242!3d20.989885812743456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acb902df4ae5%3A0xd4b1d54284c738ea!2zS8O9IHTDumMgeMOhIE3hu4UgVHLDrCwgxJBIUUdITg!5e0!3m2!1svi!2s!4v1647064775515!5m2!1svi!2s"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
    </div>

    <div id="prmeter-section">
        <table id="table_1" border="1">
            
            <tr>
                <th colspan="3">THÔNG SỐ</th>
            </tr>
                
            <tr>
                <td id="num">Độ PH</td>
                <td id="num">{{ do_Ph }}</td>
            </tr>
            <tr>
                <td id="num">Nhiệt độ</td>
                <td id="num">{{ nhiet_do }}</td>
            </tr>
            <tr>
                <td id="num">Độ đục</td>
                <td id="num">{{ do_duc }}</td>
            </tr>
            
        </table>
        <table id="table_2">
            <tr>
                <th>NHẬN XÉT</th>
            </tr>
            <tr>
                <td>
                    <p>Từ từ chưa có đâu</p>
                </td>
            </tr>
        </table>
    </div>
    
    <div id="explain-section">
        <img id="explain_image" src="{{ url_for('static', filename='image/eye.jpg') }}" alt="">
        <p id="explain_para">Nam dep trai</p>
    </div>
    
    <div id="contact-section">
        <h2>© 2022 - SWAB Team</h1>
        <p1>written by: Nam H. Dao, Duy Anh Dao</p>
    </div>
</body>

</html>